<h1>Créditos</h1>

<a href="https://github.com/pagonzal13/quiz_2017">Repositorio en GitHub</a>
<p>
    Esta práctica ha sido desarrollada por Paula González Gómez.
</p>

<img src='/images/mifoto.jpg'/>

