<h1>Ayuda</h1>

<p>
    "Quiz, el juego de las preguntas" es una aplicación en la que los usuarios registrados pueden proponer preguntas, adivinanzas o cuestiones, y cualquiera puede responderlas introduciendo en el cajetín de texto la respuesta y verificándola con el botón correspondiente. El objetivo del portal es el de servir como red social orientada a compartir preguntas y responder las de otros usuarios.
</p>

