

<form method="POST" action="/quizzes/<%= quiz.id %>/tips/">

    <div class="wideRow">

        <span class="itemNarrow">Nueva pista:</span>

    <input id="tip" type="text" class="itemWide" name="text" value="" placeholder="Pista" autocomplete="off" />

    <button type="submit" class="itemNarrow">Añadir</button>
    </div>

</form>
